@import url("https://fonts.googleapis.com/css2?family=Kalam&family=Ysabeau&display=swap");

#content {
  max-width: 1600px;
  margin: 0 auto;
}
nav a {
  text-align: center;
  color: #eaf4f4;
  text-decoration: none;
  font-family: Ysabeau, Helvetica, sans-serif;
  padding: 35px;
}
nav a:hover {
  background-color: #a4c3b2;
  color: #eaf4f4;
}
#hero-img {
  width: 100%;
}
#hero-msg h1,
#hero-msg h4 {
  text-align: center;
}
.button-box {
  text-align: center;
}
main section {
  text-align: center;
}
main section img {
  box-sizing: border-box;
}
#background {
  height: 725px;
  background-color: #a4c3b2;
}
body {
  background-color: #cce3de;
  font-family: Ysabeau, Helvetica, sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
}
h2 {
  margin: 0;
}
header {
  background-color: #6b9080;
}
.book,
.join {
  background-color: #eaf4f4;
  color: #6b9080;
  text-decoration: none;
  font-family: Ysabeau, Helvetica, sans-serif;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}
.book:hover,
.join:hover {
  color: #a4c3b2;
}
.msg {
  background-color: #6b9080;
  line-height: 1.5em;
  padding: 35px;
  margin-top: 200px;
}
.msg h2 {
  color: #eaf4f4;
  font-family: Kalam, Helvetica, sans-serif;
}
.msg p {
  color: #eaf4f4;
  font-family: Ysabeau, Helvetica, sans-serif;
  font-size: 0.8em;
  padding-bottom: 15px;
}
footer {
  background-color: #6b9080;
  color: #eaf4f4;
  font-family: Ysabeau, Helvetica, sans-serif;
  padding: 25px 50px;
  margin-top: 200px;
}
footer a {
  color: #eaf4f4;
  text-decoration: none;
  font-family: Ysabeau, Helvetica, sans-serif;
}
footer a:hover {
  color: #a4c3b2;
}
footer p {
  font-size: 1.2em;
  font-family: Ysabeau, Helvetica, sans-serif;
}
footer p a:hover {
  text-decoration: underline;
}
footer .social img {
  padding-top: 15px;
}
.home-title {
  color: #6b9080;
  font-family: "Kalam", Helvetica, sans-serif;
  font-size: 2em;
  margin-top: 10px;
}
h4 {
  color: #6b9080;
  font-family: Ysabeau, Helvetica, sans-serif;
}
.logo {
  width: 80px;
}
.icon {
  width: 80px;
  padding-top: 10px;
}
#logo_link {
  padding-top: 5px;
}
.rivers-card,
.camping-card,
.rapids-card {
  margin: 200px 0;
}
.mountains {
  margin-top: 100px;
}
.card-img {
  border: 10px solid black;
}
